$background-color: hsl(240, 73%, 9%);
$white: rgb(229, 229, 229);
$main-color: hsl(240, 78%, 27%);
$secondary-color: hsl(267, 87%, 56%);
$secondary-color-light: hsl(267, 95%, 83%);
$light-purple: hsl(266, 100%, 91%);

